/* styles.css */
*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #338a95ab;
}
body {
    display: flex;
    flex-direction: column;
}


.header{
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 2%;
    
}
.header .first_row {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}
.first_row .title {
    font-size: 64px;
    font-weight: 800;
}
.first_row .user_greeting {
    font-size: larger;
    font-weight: 800;
}

.header .feature{
    grid-row: 2/ 3;
    display: flex;
    flex-direction: row-reverse;
}


button{
    border: 1px solid white;
    background-color: #12a4b7ab;
    color: white;
    width: 150px;
    height:30px;
    border-radius: 10px;
    align-self: end;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2%;
    overflow: auto;
    padding: 2%;
}

.sidebar{
    grid-template-columns: 1 / 2;
}

.main-container{
    grid-template-columns: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.card, .card div{
    background-color: beige;
}
.card{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    border-radius: 5%;
}

.button_line {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.card .title{
    text-align: center;
    font-weight: 700;
}

.card .read {
    text-align: right;
    font-weight: 200;
}

.card .read, .remove{
    width: 100px;
    height:30px;
    text-align: center;
}

.card .remove, .card .edit {
    background-color: beige;
    color: #0000007a;
    border-color: #0000007a;
    text-align: center;
    width: 65px;
    height: 20px;
    font-size: smaller;
}

::backdrop {
    background-color: white;
    opacity: 0.75;
}

dialog{
    /* align-self: center;
    justify-self: center; */
    height: 40vw;
    width: 30vw;
    position: absolute;
    top: 5vw;
    left: 35vw;
    padding: 2em;
    background-color: #338a95ab;
}

dialog #book_title, #book_author, #book_pages, #book_published_year{
    background-color: beige;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

dialog input{
    margin: 10px;

}

dialog li{
    list-style: none;
    background-color: #6aa7af;
}
dialog label, dialog span{
    background-color: #6aa7af;
}

dialog button{
    margin: 30px
}

.footer{
    grid-area: 3 / 1 / 4 / 2;
}

form ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0,0,0,0);
}
form li {
    display: flex;
    gap: 10px;
    height: 25px;
    border-radius: 10px;
    
}
form select, form span {
    height: 25px;
    border-radius: 10px;
}

form input, form select{
    flex-grow: 1;
    border-radius: 10px;
    background-color: #59b3b6;
    padding-left: 5px; 
}
